<html>
    <head>
        <title>Tasks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <style>
            .button {
             background: lightgrey;
            }
            .button:hover {
                background: grey;
            }
        </style>
    </head>
    <body class="bg-info">
        <div class="container-fluid bg-info">
            <div class="container bg-warning text-center mt-5">
                <h2>Hi <%=name%></h2>
                    <div class="m-1 row">
                        <input type="text" id="task" class="form-control col-10" >
                        <input type="hidden" id="uname" value= <%=username%>>
                        <button type="button"  class="col-2 add btn btn-danger btn-block"><i class="fa fa-check"></i></button>
                    </div>
                <h3>Your Tasks</h3>
                <ul class="users list-group"></ul>
                <br>
                <div class="signout text-left p-5">
                    <button class="btn button" onclick="window.location.href='/signout'"><span>Signout</span>
                </div>
            </div>  
        </div>
        
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $('document').ready(function() {
            var edit = '';
            $.ajax({
                url: '/api/viewlist',
                method: 'GET',
                success: function(data) {
                    if (data && data.length) {
                        var items = '';
                        data.forEach(function(result) {
                            items = items + '<div class="m-1 row" id="'+result.id+'"><li class="col-10 list-group-item text-secondary" id="'+result.id+'">'+result.task+'</li>'
                            +'<button class="col-1 btn btn-primary edit float-right"><i class="fa fa-edit"></i></button>'
                            +'<button class="col-1 btn btn-danger delete float-right"><i class="fa fa-close"></i></button></div>'
                        });
                        $('ul.users').html(items);
                    }
                }
            });

            $('button.add').click(function() {
            var username = $('#uname').val();
            var task = $('#task').val();

            if (username && task && (edit !== 'clicked')) {
                $.ajax({
                    url: '/api/viewlist',
                    method: 'POST',
                    data: {
                        username,
                        task
                    },
                    success: function(result) {
                        if (result) {
                            console.log(result);
                            var items = '';
                            $('ul.users').append('<div class="m-1 row" id="'+result.id+'"><li class="col-10 list-group-item text-secondary">'+result.task+'</li>'
                            +'<button class="col-1 btn btn-primary edit float-right"><i class="fa fa-edit"></i></button>'
                            +'<button class="col-1 btn btn-danger delete float-right"><i class="fa fa-close"></i></button></div>')
                        }
                    }
                });
            }
            });

        $('.container').on('click', 'button.edit', function() {
            var id = $(this).parent().attr('id');
            var that = $(this);
            var task = $(this).siblings().text();
            console.log('HI'+task)
            edit = 'clicked';

            if (id && task) {
                $('#task').val(task);
                $('button.add').click(function() {
                    console.log('hi');
                    var username = $('#uname').val();
                    var task = $('#task').val();
                    $.ajax({
                        url: '/api/viewlist/'+id,
                        method: 'PUT',
                        data: {
                            username,
                            task
                        },
                        success: function(result) {
                            console.log('hi');
                            if(result.status) {
                                that.siblings('li').text($('#task').val());
                            }
                        }
                    });
                    edit = '';
                });
            }
        });

        $('.container').on('click', 'button.delete', function() {
            var id = $(this).parent().attr('id');
            var that = $(this);

            if (id) {
                $.ajax({
                    url: '/api/viewlist/'+id,
                    method: 'DELETE',
                    success: function(data) {
                        if(data.status) {
                            that.parent().remove();
                        }
                    }
                });
            }
        })

        })
    </script>
</html>