<!DOCTYPE html>
<html>

<head>
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <style>
        .button {
            background: lightgrey;
        }

        .button:hover {
            background: grey;
        }
    </style>

</head>

<body>
    <header>
        <h1>Welcome Admin</h1>
    </header>

    <div class="main">
        <div class="container-fluid">
            <div class="container  bg-container text-center mt-5">
                <h2>Hi
                    <%=name%>
                </h2>
                <div class="m-1 row">
                    <input type="text" id="task" class="form-control col-10">
                    <input type="hidden" id="uname" value=< %=username%>>
                    <button type="button" class="col-2 add btn btn-danger btn-block">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <h3>Your Tasks</h3>
                <ul class="users list-group"></ul>
                <br>
                <div class="signout text-left p-5">
                    <button class="btn button" onclick="window.location.href='/signout'">
                        <span>Signout</span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='javascripts/main.js'></script>
</body>
</html>